<% action = album.persisted? ? album_url(album) : albums_url %>
<% method = album.persisted? ? :patch : :post %>
<form class="" action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label for="album_name">Title</label>
  <input type="text" name="album[title]" value="<%= album.title %>" id="album_name">
  <br>
  <label for="album_band">Band</label>
  <select name="album[band_id]" id="album_band">
    <% current_user.bands.each do |band| %>
      <option
        <%= "selected" if album.band == band %>
        value="<%= band.id %>">
        <%= band.name %>
      </option>
    <% end %>
  </select>
  <br>
  <label for="album_live_studio">Studio</label>
  <input type="radio" name="album[album_type]" value="studio" id="album_type_studio" <%= "checked" if !album.live? %>>
  <label for="album_type_live">Live</label>
  <input type="radio" name="album[album_type]" value="live" id="album_type_live" <%= "checked" if album.live? %>>
  <br>
  <input type="submit" value="submit">
</form>
