<h1><%= @band.name %></h1>
<% @band.albums.each do |album| %>
  <p><%= link_to album.title, album_url(album) %></p>
<% end %>
<% if @band.is_owner?(current_user) %>
<%= link_to "edit", edit_band_url(@band) %>
<%= link_to "delete", @band, method: :delete %>
<% end %>
<%= render "taggings/display", taggings: @band.taggings %>
<% if admin? %>
<%= render "taggings/form", taggable_type: @band.class, taggable_id: @band.id %>
<%= link_to "add album", new_band_album_url(@band) %>
<% end %>
